#content {
  background-color: lightblue;
  margin:0px auto; 
  display:block; 
  width:500px;	
}

#inner {
 background-color: lightblue;
  margin:0px auto; 
  display:block; 
  width:400px;	
}



.name {
  width: 460px;
  height: 30px;
  border: 3px solid #EE82EE;
  background-color: #EE82EE;
  border-radius: 4px;
  
}

#mainBody {
  background-color: lightblue;
  margin:0px auto; 
  display:block; 
  width:900px;
}
