
.container {
  position: relative;
  }
  .container img {
  position: absolute;
  width: 35%;
  margin: 5px 10px;
  }
  .container p{
  color: #fff;
  position: relative;
  font-size: 40px;
  width: 70%;
  font-style:oblique; 
  align: center; 
  margin: 13px;
  }

  #text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 800px;
    margin: 10px 20px;
  }


  #otstup{
    font-size: 2rem;
    margin: 0 0 10rem;
    
}


  
